<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> -->

<div class="jumbotron">
    <h1 class="display-4">Cinema Ironhack</h1>
    <p class="lead">Welcome to the unofficial Ironhack Cinema</p>
    <hr class="my-4">
    <p>Would you like to see the movies we have?</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="/movies" role="button">Check the movies!</a>
    </p>
    <img src="https://www.pymnts.com/wp-content/uploads/2021/06/popcorn-movies.jpg" class="img-fluid" alt="Person eating popcorn at cinema">
</div>
